<html>
   <body>
      <form action="/addDevice" method="post">
         <fieldset>
            <label for="deviceID">Device ID:</label>
            <input type="text" id="deviceID" name="deviceID" placeholder="Enter device ID" />
            <br />
            <label for="vehicleType">Vehicle Type:</label>
            <input type="text" id="vehicleType" name="vehicleType" placeholder="Enter vehicle type" />
            <br />
            <label for="vehicleModel">Vehicle Model:</label>
            <input id="vehicleModel" name="vehicleModel" placeholder="Enter vehicle model"></input>
            <br />
            <label for="vehicleRegNo">Vehicle Reg:</label>
            <input id="vehicleRegNo" name="vehicleRegNo" placeholder="Enter vehicle reg"></input>
            <br />
            <label for="vehicleChesisNo">Vehicle Chesis:</label>
            <input id="vehicleChesisNo" name="vehicleChesisNo" placeholder="Enter vehicle chesis no"></input>
            <br />
            <label for="vehiclePermission">Vehicle Permission:</label>
            <input id="vehiclePermission" name="vehiclePermission" placeholder="Enter vehicle permission"></input>
            <br />

            <input type="submit" value="Add Device" />
         </fieldset>
      </form>
   </body>
</html>