<html>
<head>
    <title><%=title%></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
</head>
   <body>
   <div class="container">
            <div class="row">
            <h4><%=title%></h4>
            
      <form action="/addDevice" method="post" class="form-horizontal">
         <div class="form-group">
            <label class="col-sm-2 control-label" for="deviceID">Device ID:</label>
            <div class="col-sm-10">
            <input class="form-control" type="text" id="deviceID" name="deviceID" placeholder="Enter device ID" />
            </div>
            </div>
            <div class="form-group">
            <label class="col-sm-2 control-label" for="vehicleType">Vehicle Type:</label>
            <div class="col-sm-10">
            <input class="form-control" type="text" id="vehicleType" name="vehicleType" placeholder="Enter vehicle type" />
            </div>
            </div>
            <div class="form-group">
            <label class="col-sm-2 control-label" for="vehicleModel">Vehicle Model:</label>
            <div class="col-sm-10">
            <input class="form-control" id="vehicleModel" name="vehicleModel" placeholder="Enter vehicle model"></input>
            </div>
            </div>
            <div class="form-group">
            <label class="col-sm-2 control-label" for="vehicleRegNo">Vehicle Reg:</label>
            <div class="col-sm-10">
            <input class="form-control" id="vehicleRegNo" name="vehicleRegNo" placeholder="Enter vehicle reg"></input>
            </div>
            </div>
            <div class="form-group">
            <label class="col-sm-2 control-label" for="vehicleChesisNo">Vehicle Chesis:</label>
            <div class="col-sm-10">
            <input class="form-control" id="vehicleChesisNo" name="vehicleChesisNo" placeholder="Enter vehicle chesis no"></input>
            </div>
            </div>
            <div class="form-group">
            <label class="col-sm-2 control-label" for="vehiclePermission">Vehicle Permission:</label>
            <div class="col-sm-10">
            <input class="form-control" id="vehiclePermission" name="vehiclePermission" placeholder="Enter vehicle permission"></input>
            </div>
            </div>
<div class="col-md-12 text-center"> 
            <input type="submit" value="Add Device" class="btn btn-success"/>
            </div>
         
      </form>
      </div>
        </div>
</body>
   </body>
</html>