<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 800px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>Vehicle position</h3>
    <div id="map"></div>
    <script>
      function initMap() {          
        var latlong = {lat: <%=lat%>, lng: <%=lng%>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: latlong
        });
        var marker = new google.maps.Marker({
          position: latlong,
          map: map
        });
      }
    </script>
    <script async defer
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU3HlkBZ1d5c1t1KZOf5YyEmxH5oKCsHo&callback=initMap" async defer></script>
    </script>
  </body>
</html>




    
